/* 027 */
/* HEADER -------------------------------------------------------------------------*/
header {
    background: var(--header-bg);
    color: var(--font-color);
    padding: 0.5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: var(--header-box-shadow);
    border-radius: 0;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap;
}

/* FOOTER ------------------------------------------------------------------------*/
footer {
    background: var(--header-bg);
    color: var(--font-color);
    font-size: 0.9rem;
    text-align: center;
    padding: 0.8rem;
    margin: 0;
    width: 100%;
    flex-shrink: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

footer p {
    margin: 0;
    padding: 0 10px;
}