/* 026 */
/* JEZIKOVNE ZASTAVICE ------------------------------------------------------------*/
.language-flags {
    display: flex;
    gap: 6px;
    flex-shrink: 0;
    align-items: center;
    order: 3;
}

.language-flags .language-flag {
    display: flex;
    width: 30px;
    height: 16px;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid white;
    transition: transform 0.3s;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.language-flags .language-flag:hover {
    transform: scale(1.2);
    filter: brightness(100%);
}

.flag {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Aktivna zastava v črno-beli barvi */
.language-flags .language-flag.active-flag .flag {
    filter: grayscale(100%) brightness(100%);
    border-color: #cccccc1f;
}

.language-flags .language-flag.active-flag:hover .flag {
    filter: grayscale(100%) brightness(100%);
    border-color: #ffffff1f;
}
