/* 025 */
/* BASE */
@font-face {
    font-family: 'TT2020StyleE';
    src: url('fonts/TT2020StyleE-Regular.woff2') format('woff2'),
        url('fonts/TT2020StyleE-Regular.woff') format('woff'),
        url('fonts/TT2020StyleE-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --background-color: #123415;
    --overlay-background: rgba(0, 0, 0, 0.05);
    --text-color: #333333;
    --header-bg: linear-gradient(135deg, #123415, #36844d);
    --header-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    --font-color: rgba(208, 255, 0, 0.811);
    --font-shadow: 3px 3px 4px rgba(0, 0, 0, 0.95);
    --hover-color: rgba(234, 255, 0, 0.8);
    --font-size-overlay: 1.0rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'TT2020StyleE', Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
}
